.Home {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin-bottom: 0.5em;
    }
    &__join {
        margin-bottom: 1em;
    }
    &__create {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
}

h3 {
    margin:0 0 1em 0;
}