.Message {
    background-color: palevioletred;
    font-size: 0.75em;
    margin: 1em;
    word-wrap: break-word;
    max-width: 100%;
    min-height: 3.5em;
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}