@import './Partials/home';
@import './Partials/roomform';
@import './Partials/message';
@import './Partials/room';
// TODO: import font

html, body, #root {
    margin:0;
    padding: 0;
    height: 100vh;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #e1e1e1;
}